hibernate/HELP.md
hibernate/target/
hibernate/!.mvn/wrapper/maven-wrapper.jar
hibernate/!**/src/main/**/target/
hibernate/!**/src/test/**/target/

### STS ###
hibernate/apt_generated
hibernate/classpath
hibernate/factorypath
hibernate/project
hibernate/settings
hibernate/springBeans
hibernate/sts4-cache

### IntelliJ IDEA ###
hibernate/.idea
.idea
*.iws
*.iml
*.ipr

#security
security/HELP.md
security/target/
security/!.mvn/wrapper/maven-wrapper.jar
security/!**/src/main/**/target/
scurity/!**/src/test/**/target/

### STS ###
security/apt_generated
security/classpath
security/factorypath
security/project
security/settings
security/springBeans
security/sts4-cache

### IntelliJ IDEA ###
security/.idea

